{% extends "layout.twig" %}

{% block title %}Mis Publicaciones{% endblock %}

{% block main_container %}
    <h2>Mis Publicaciones</h2>

    {% if posts and posts|length > 0 %}
        <table id="tablePosts" class="table table-striped">
            <thead>
            <tr>
                <th>Fecha de Creación</th>
                <th>Título</th>
                <th>Texto</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.created_at | date("d-m-Y") }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content | slice(0, 50) ~ "..." }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
        <div class ="row text-center">
            <ul class ="pagination">
                {% for page in pages %}
                    <li class="page-item {% if page.number == currentPage %}active{% endif %}">
                        <a class="page-link" href="{{ page.url }}">{{ page.number }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% else %}
        <p>No tienes publicaciones para mostrar.</p>
    {% endif %}

{% endblock %}
